@import 'nib'

$bg-color = #FFF;

.no-padding
	padding 0!important
	margin 0!important
	
.flex
	display flex
	flex-direction row
	flex-wrap nowrap
	justify-content center
	align-items center
	
body
	background $bg-color
	font-smoothing antialiased
	overflow-scrolling touch
	font-family 'MyseoSansCyrl'

a, a:hover, a:active, a:focus
	outline none
	color #FFF
	text-decoration underline

.container-fluid
	background $bg-color
	padding 0
	background-image url(./img/common-bg.png)
	background-position center
	background-repeat no-repeat
	background-size cover
	
.content
	position relative
	width 100%
	max-width 1170px
	height auto
	min-height 1800px
	margin 0 auto
	padding 25px
	
	
