.selectpicker__select {
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.selectpicker__select:focus {
  border: 1px solid #48c9b8 !important;
}
.bs-caret {
  padding: 0 8px;
  border-radius: 3px;
  background-color: #48c9b8 !important;
  position: relative;
  right: 5px;
}
.caret {
  color: #fff;
  right: 4px !important;
}
