@import 'nib'

.category-head-area .category-head
	position relative
	width 100%
	height auto
	min-height 170px
	background-color #FFF
	z-index 5
	display flex
	flex-direction row
	flex-wrap nowrap
	justify-content flex-start
	align-items center
	@media screen and (max-width:600px)
		min-height 120px
		flex-wrap wrap
	
.category-head-area .category-head__title
	position relative
	font-size 3.3rem
	font-weight 900
	color #000
	text-transform uppercase
	border 2px solid #000
	padding 10px 30px
	user-select none
	background-color #FFF
	z-index 5
	margin 20px
	@media screen and (max-width:768px)
		font-size 1.3rem
		padding 10px
		
.category-head-area .category-head__title--small
	font-size 1.9rem
	@media screen and (max-width:768px)
		font-size 1.3rem
		padding 10px
	

		
.category-head-area .category-controls
	position relative
	width auto
	height 40px
	background-color #f4f4f4
	display flex
	flex-direction row
	flex-wrap nowrap
	justify-content center
	align-items center
	margin 20px 0
	
.category-head-area .category-controls__btn
	width 40px
	height 40px
	background-color #FFF
	cursor pointer
	text-decoration none!important
	transition all .2s ease-in-out
	background-color #48c9b8

.category-head-area .category-icon
	color #FFF
	transition all .2s ease-in-out
	position relative
	top 50%
	left 50%
	transform translate(-50%, -50%)
	
.category-head-area .category-row
	text-transform uppercase
	margin 0 20px
	font-size 1.3rem
	font-weight 900
	
	
	
	