.menu--mobile__btn {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 99;
  cursor: pointer;
  background-color: #48c9b8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamburger-icon {
  display: inline-block;
  width: 15px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform-origin: 4px -3px;
  -moz-transform-origin: 4px -3px;
  -o-transform-origin: 4px -3px;
  -ms-transform-origin: 4px -3px;
  transform-origin: 4px -3px;
}
.hamburger-icon::before,
.hamburger-icon::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.hamburger-icon::before {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}
.hamburger-icon::after {
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -o-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}
.is-open .hamburger-icon::before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.is-open .hamburger-icon::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.is-open .hamburger-icon {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: transparent;
}
.menu--mobile__icon {
  color: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.menu--mobile__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 97;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.menu--mobile__content {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-180px);
  -moz-transform: translateX(-180px);
  -o-transform: translateX(-180px);
  -ms-transform: translateX(-180px);
  transform: translateX(-180px);
  width: 180px;
  height: 100%;
  z-index: 98;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #48c9b8;
  overflow: auto;
}
.menu-list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  font-weight: 300;
  height: 100%;
}
.list__item {
  padding: 20px 10px 20px 20px;
  width: 100%;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2rem;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.list__item:hover {
  background-color: #4db6ac;
}
.menu-divider {
  width: 100%;
  height: 1px;
  border-top: 1px solid #80cbc4;
}
.menu-link--mobile,
.menu-link--mobile:hover,
.menu-link--mobile:focus,
.menu-link--mobile:active {
  text-decoration: none;
}
.menu-margin {
  width: 100%;
  height: 50px;
}
.menu--mobile {
  display: none;
}
@media screen and (max-width: 992px) {
  .menu--mobile {
    display: block;
  }
}
